.header {
  height: 60px;
  display: flex;
  padding: 8px 0;
  align-items: center;
  background-color: #5e35b1;
  justify-content: space-between;
}

.header__logo {
  height: 30px;
}

.header__title {
  font-size: 18px;
  font-weight: 600;
}
