.header {
  height: 60px;
  display: flex;
  padding: 0 24px;
  align-items: center;
  background-color: #5e35b1;
  justify-content: space-between;
}

.logo {
  height: 30px;
}

.title {
  color: white;
  font-size: 18px;
  font-weight: 200;
}
