.information {
  display: flex;
  max-width: 688px;
  margin: 48px auto;
  flex-direction: column;

  @media (max-width: 768px) {
    padding: 0 24px;
  }
}

.title {
  font-size: 72px;
  font-weight: lighter;
  padding-bottom: 16px;
  border-bottom: 1px solid #cecece;
}

.label {
  margin: 0;
  font-size: 16px;
}

.value {
  margin: 0 0 16px;
  font-size: 22px;
  font-weight: bold;
}

.wrapper-button {
  display: flex;
  justify-content: center;
}

.button {
  height: 45px;
  width: 120px;
  border: none;
  color: white;
  cursor: pointer;
  margin-top: 16px;
  border-radius: 8px;
  text-transform: uppercase;
  background-color: #43a047;

  &:hover {
    background-color: #3b8b3f;
  }
}
