<app-header />

<main class="register">
  <h1 class="title">Cadastro</h1>
  <form class="form" (ngSubmit)="submit(form)" #form="ngForm">
    <div class="form-group">
      <label class="form-label" for="">Nome:</label>
      <input
        type="text"
        name="name"
        [(ngModel)]="name"
        #nameCtrl="ngModel"
        placeholder="Digite seu nome"
        class="form-input"
        required
      />
      @if (getError(nameCtrl, form, 'Nome'); as error) {
      <p class="error">
        {{ error }}
      </p>
      }
    </div>

    <div class="form-group">
      <label class="form-label" for="">E-mail:</label>
      <input
        type="text"
        name="email"
        [(ngModel)]="email"
        pattern="^[^\s@]+@[^\s@]+\.[^\s@]+$"
        #emailCtrl="ngModel"
        placeholder="EX: carlos@uol.com.br"
        class="form-input"
        required
      />
      @if (getError(emailCtrl, form, 'E-mail'); as error) {
      <p class="error">
        {{ error }}
      </p>
      }
    </div>

    <div class="form-group">
      <label class="form-label" for="">Senha:</label>
      <input
        type="password"
        name="password"
        [(ngModel)]="password"
        #passwordCtrl="ngModel"
        minlength="8"
        placeholder="Sua senha precisa ter pelo menos 8 caracteres"
        class="form-input"
        required
      />
      @if (getError(passwordCtrl, form, 'Senha'); as error) {
      <p class="error">
        {{ error }}
      </p>
      }
    </div>

    <button class="button" type="submit" [disabled]="form.invalid && form.submitted">Salvar</button>
  </form>
</main>
